.avatar{
    position: fixed;
    overflow: hidden;
    z-index: -2;
}

.avatar.about{
    height: 89vh;
    bottom: 0vh;
    left: 50%;
    transform:translateX(-50%);
}


.avatar.skills
{
    height: 200vh;
    bottom: -90vh;
    left: -1.5rem;
    transform:translateX(0%) scaleX(-1);
}

.shadow-overlay-skills
{
    height: 100vh;
    width: 100vh;
    display: block;
    position: fixed;
    background: linear-gradient(
        90deg, rgba(0,0,0,0.25)
        90deg, rgba(255,255,255,0)
    );
    z-index: -1;
}

@media(max-width:1100px)
{
    .avatar.about
    {
        z-index: -5;
        height: 95vh;
        bottom: 0vh;
    }
}