.info
{
    position: fixed;
    font-size: 4rem;
    top:50%;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
}

@media (max-width: 1100px) {
 .info{
    font-size: 2rem;
 }

    }